extends layout

block content
  h1= title
  p.delete-msg Deleting category #[strong= category.name] will also delete all associated items. Are you sure you want to delete #[strong= category.name]?
  form(action='' method='post').delete-form
    fieldset.form-group
      button(type='submit').btn.delete Delete
    fieldset.form-group
      a(href='/').btn.cancel Cancel