extends layout

block content
  h1= title
  form(action='' method='post')
    fieldset.form-group
      label(for='name') Name
      input#name.form-control(type='text' name='name' value=category? category.name : '' placeholder='Name' required autofocus)
    fieldset.form-group
      label(for='description') Description
      textarea#description.form-control(name='description' cols='30' rows='10' placeholder='Description' required)= category? category.description : ''
    fieldset.form-group
      button(type='submit')= title === 'Create Category' ? 'Add Category' : 'Update Category'