extends layout

block content
  h1= title
  p Are you sure you want to delete #[strong= item.name] item?
  form(action='' method='post')
    fieldset.form-group
      button(type='submit') Delete
    fieldset.form-group
      a(href='/') Cancel