doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      .sidebar
        .settings
          .current-user #[span= currentUser.fullName] #[em= currentUser.isAdmin ? '(Admin)' : '']
          .settings-list
            a(href='/profile') Profile
            if currentUser.isAdmin
              a(href='/items/create') Add New Item
            a(href='/users') Users Settings
            if currentUser.isAdmin
              a(href='/users/create') Add New User
            a(href='/logout') Logout
        .categories
          h3 Categories
          if currentUser.isAdmin
            a(href='/categories/create').btn Add New Category
          a(href='/').all-categories.category-item All
          .categories-list
            each category in categories
              a(href=category.url).category-item= category.name
              if currentUser.isAdmin
                |
                |
                a(href=category.url + '/update').btn.update Update
                |
                |
                a(href=category.url + '/delete').btn.delete Delete
              else
                .placeholder
                .placeholder
      .content-container
        block content