extends layout

block content
  h1= title
  p.delete-msg Are you sure you want to delete #[strong= user.username]?
  form(action='' method='post').delete-form
    fieldset.form-group
      button(type='submit').btn.delete Delete
    fieldset.form-group
      a(href='/').btn.cancel Cancel