extends layout 

block content
  h1.users-heading Users List
  .users-container
    .username #[strong Username]
    .full-name #[strong Full Name]
    .email #[strong Email]
    .role #[strong Role]
    each user in users
      a.username(href=user.url)= user.username
      .full-name= user.fullName
      .email= user.email
      .role= user.isAdmin? 'Admin' : 'User'