/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Lucida Grande', 'Cantarell', 'cursive', system-ui, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

fieldset {
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #2e7d32;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

a.btn:hover {
  background-color: #1b5e20;
}

body {
  background-color: rgb(15, 16, 17);
  color: #fff;
}

/* Layout */

main {
  display: flex;
}

.sidebar {
  flex: 0 0 300px;
  border-right: 1px solid #0003;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

/** Settings **/

.sidebar .settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings .current-user {
  display: flex;
  gap: 8px;
  align-items: center;
}

.settings .current-user span {
  font-size: 1.5rem;
  font-weight: bold;
}

.settings .current-user em {
  font-size: 0.9rem;
}

.settings-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/** Categories **/
.sidebar .categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.categories > a.btn {
  margin-bottom: 16px;
  background-color: #007bff;
}

.categories .categories-list {
  display: grid;
  grid-template-columns: 1fr auto auto;
  row-gap: 10px;
  margin-top: 10px;
  column-gap: 10px;
}

.category-item {
  font-size: 1rem;
  font-weight: bold;
}

a.btn.delete,
a.btn.update {
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  transition: background-color 0.2s ease-in-out;
}

a.btn.delete {
  background-color: #dc3545;
}

a.btn.delete:hover {
  background-color: #c82333;
}

/* Content */

.content-container {
  flex: 1;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Items Grid */

.content-container .items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.items h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.items .items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.items-list .item {
  border-radius: 18px;
  height: 100%;
  transition: transform 0.3s ease;
}

.items-list .item:hover {
  transform: scale(1.05);
}

.item .card {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 5px #00000080;
  height: 100%;
}

.card > a {
  background-color: #fff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > a > .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-image img {
  height: 200px;
  width: auto;
  padding: 20px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card-content {
  background-color: rgb(26, 26, 26);
  color: #fff;
  padding: 14px 20px 20px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1;
}

.card-content a {
  color: #fff;
  font-size: 1.2rem;
}

.card-content .quantity-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-weight: bold;
  width: 100%;
}

/* Item Detail */

.back {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.back .left-arrow {
  transition: transform .3s ease;
}

.back:hover .left-arrow {
  transform: translateX(-5px);
}

.item-detail {
  display: flex;
  gap: 30px;
}

.item-detail .left {
  min-height: 400px;
  min-width: 50%;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 10px #0003;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: fit-content;
}

.item-detail .left img {
  width: 260px;
  height: auto;
  padding: 20px;
  object-fit: cover;
  border-radius: 24px;
  transition: transform .3s ease;
}

.item-detail .left:hover img {
  transform: scale(1.1);
}

.item-detail .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right .wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper .title {
  font-size: 1.8rem;
  font-weight: bold;
}

.wrapper .title-category {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.wrapper .category {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: #999;
}

.wrapper .description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 16px;
}

.wrapper .quantity,
.wrapper .price {
  color: #ccc;
  font-weight: bold;
}

.update-delete {
  display: flex;
  gap: 16px;
}

.update-delete .btn.update,
.update-delete .btn.delete {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

/* Users List */

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 10px;
}

.users-container a.username {
  color: #007bff;
}

/* User Detail */

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-details p {
  display: flex;
  font-size: 1.2rem;
}

.user-details strong {
  min-width: 150px;
}